@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);


body,
input,
textarea,
.mbr-section-text,
.mbr-company .list-group-text,
.panel-body {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Open Sans', sans-serif;
}
.alert,
.mbr-section-title,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'NanumBarunGothic';
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'NanumBarunGothic';
}
.btn {
  border-radius: 2.6em;
}
.mbr-gallery-filter ul li {
  border-radius: 2.6em;
}
.btn-sm,
.mbr-section-subtitle,
.mbr-cards .card-subtitle,
.nav-tabs .nav-link,
.mbr-testimonial .card-block,
.table th {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'NanumBarunGothic';
}
.mbr-author-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'NanumBarunGothic';
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #2ecc71 !important;
}
.bg-info {
  background-color: #72d0f5 !important;
}
.bg-warning {
  background-color: #000000 !important;
}
.bg-danger {
  background-color: #e74c3c !important;
}
.btn-primary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-secondary {
  background-color: #9b59b6;
  border-color: #9b59b6;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #b07cc6;
  border-color: #b07cc6;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b07cc6 !important;
  border-color: #b07cc6 !important;
}
.btn-info {
  background-color: #72d0f5;
  border-color: #72d0f5;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #a2e0f8;
  border-color: #a2e0f8;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #a2e0f8 !important;
  border-color: #a2e0f8 !important;
}
.btn-success {
  background-color: #2ecc71;
  border-color: #2ecc71;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #54d98c;
  border-color: #54d98c;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #54d98c !important;
  border-color: #54d98c !important;
}
.btn-warning {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
}
.btn-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #ed7669;
  border-color: #ed7669;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ed7669 !important;
  border-color: #ed7669 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #000000 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #9752b3;
  color: #9752b3;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #fff;
  background-color: #9b59b6;
  border-color: #9b59b6;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #000000 !important;
  background-color: #9b59b6 !important;
  border-color: #9b59b6 !important;
}
.btn-info-outline {
  background: none;
  border-color: #68cdf4;
  color: #68cdf4;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #fff;
  background-color: #72d0f5;
  border-color: #72d0f5;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #000000 !important;
  background-color: #72d0f5 !important;
  border-color: #72d0f5 !important;
}
.btn-success-outline {
  background: none;
  border-color: #2cc46c;
  color: #2cc46c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #000000 !important;
  background-color: #2ecc71 !important;
  border-color: #2ecc71 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #000000 !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e64433;
  color: #e64433;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #000000 !important;
  background-color: #e74c3c !important;
  border-color: #e74c3c !important;
}
.btn-primary.btn-text {
  color: #ffffff;
  background: none;
  border: none;
}
.btn-primary.btn-text:hover,
.btn-primary.btn-text:focus,
.btn-primary.btn-text.focus,
.btn-primary.btn-text:active,
.btn-primary.btn-text.active {
  color: #ffffff;
  background: none !important;
  border: none !important;
}
.btn-secondary.btn-text {
  color: #9b59b6;
  background: none;
  border: none;
}
.btn-secondary.btn-text:hover,
.btn-secondary.btn-text:focus,
.btn-secondary.btn-text.focus,
.btn-secondary.btn-text:active,
.btn-secondary.btn-text.active {
  color: #b07cc6;
  background: none !important;
  border: none !important;
}
.btn-info.btn-text {
  color: #72d0f5;
  background: none;
  border: none;
}
.btn-info.btn-text:hover,
.btn-info.btn-text:focus,
.btn-info.btn-text.focus,
.btn-info.btn-text:active,
.btn-info.btn-text.active {
  color: #a2e0f8;
  background: none !important;
  border: none !important;
}
.btn-success.btn-text {
  color: #2ecc71;
  background: none;
  border: none;
}
.btn-success.btn-text:hover,
.btn-success.btn-text:focus,
.btn-success.btn-text.focus,
.btn-success.btn-text:active,
.btn-success.btn-text.active {
  color: #54d98c;
  background: none !important;
  border: none !important;
}
.btn-warning.btn-text {
  color: #000000;
  background: none;
  border: none;
}
.btn-warning.btn-text:hover,
.btn-warning.btn-text:focus,
.btn-warning.btn-text.focus,
.btn-warning.btn-text:active,
.btn-warning.btn-text.active {
  color: #1a1a1a;
  background: none !important;
  border: none !important;
}
.btn-danger.btn-text {
  color: #e74c3c;
  background: none;
  border: none;
}
.btn-danger.btn-text:hover,
.btn-danger.btn-text:focus,
.btn-danger.btn-text.focus,
.btn-danger.btn-text:active,
.btn-danger.btn-text.active {
  color: #ed7669;
  background: none !important;
  border: none !important;
}
.btn-black.btn-text {
  color: #000000;
  background: none;
  border: none;
}
.btn-black.btn-text:hover,
.btn-black.btn-text:focus,
.btn-black.btn-text.focus,
.btn-black.btn-text:active,
.btn-black.btn-text.active {
  color: #1a1a1a;
  background: none !important;
  border: none !important;
}
.btn-white.btn-text {
  color: #ffffff;
  background: none;
  border: none;
}
.btn-white.btn-text:hover,
.btn-white.btn-text:focus,
.btn-white.btn-text.focus,
.btn-white.btn-text:active,
.btn-white.btn-text.active {
  color: #ffffff;
  background: none !important;
  border: none !important;
}
.text-primary {
  color: #ffffff !important;
}
.text-success {
  color: #2ecc71 !important;
}
.text-info {
  color: #72d0f5 !important;
}
.text-warning {
  color: #000000 !important;
}
.text-danger {
  color: #e74c3c !important;
}
.alert-success {
  background-color: #2ecc71;
}
.alert-info {
  background-color: #72d0f5;
}
.alert-warning {
  background-color: #000000;
}
.alert-danger {
  background-color: #e74c3c;
}
.btn-social {
  border-color: #ffffff;
}
.btn-social:hover {
  background: #ffffff;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #ffffff;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #ffffff;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ffffff;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ffffff;
}
.lead a {
  color: #ffffff;
}
.lead a:hover {
  color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d1f5e0;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fdf3f2;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #ffffff;
}
.scrollToTop_wraper {
  display: none;
}
/*colorM*/
/*nav-tabs*/
.header5 .nav-tabs .nav-link:after {
  background: #ffffff;
}
.header9 .nav-tabs .nav-link.active:after {
  background: #ffffff;
  color: #222;
}
/*end-nav-tabs*/
/*mbr-arrow next and toTop*/
.mbr-arrow a {
  border-radius: 50% !important;
}
.mbr-arrow-up a {
  border-radius: 50% !important;
}
.mbr-arrow a,
.mbr-arrow-up a {
  background: rgba(255, 255, 255, 0.6);
  color: #000;
}
.mbr-arrow a:hover,
.mbr-arrow-up a:hover {
  background: #ffffff;
}
/*end mbr-arrow next and toTop*/
/*features8*/
.card .card-number {
  background: #ffffff;
}
/*features14*/
.features13 .card .card-number,
.features14 .card .card-number {
  background: transparent;
}
/*features15*/
.features15 .card-block:before {
  border-color: rgba(255, 255, 255, 0.5);
}
/*features16*/
.features16 .mbr-section-subtitle:before {
  background: #ffffff;
}
/*slider elements*/
.mbr-slider .carousel-control:hover {
  background: #ffffff;
}
.mbr-slider .carousel-indicators .active {
  background: #ffffff;
}
/*gallery*/
.mbr-gallery .modal .close {
  border-color: #ffffff;
}
.mbr-gallery .modal .close:hover {
  background: #ffffff;
}
.mbr-gallery-filter li.active {
  border-color: #ffffff;
  color: #000;
}
.mbr-gallery-filter li:hover {
  background: #ffffff;
  color: #000;
}
.mbr-gallery .mbr-gallery-item:hover > div::before {
  background: rgba(255, 255, 255, 0.5);
}
.mbr-gallery .mbr-gallery-item:hover {
  background: #ffffff;
}
/*end gallery*/
/*blockquote*/
blockquote {
  border-left: 3px solid #ffffff;
}
/*content4*/
.content4 p {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
/*image2, video2*/
.image1 .mbr-figure-caption,
.video1 .mbr-figure-caption,
.image2 .mbr-figure-caption,
.video2 .mbr-figure-caption {
  background-color: #ffffff;
}
/* progress bar */
.progressbar .progress-primary[value]::-webkit-progress-value {
  background-color: #ffffff;
}
.progressbar .progress-primary[value]::-moz-progress-bar {
  background-color: #ffffff;
}
.progressbar .progress-primary[value]::-ms-fill {
  background-color: #ffffff;
}
@media screen and (min-width: 0\0) {
  .progressbar .progress-primary .progress-bar {
    background-color: #ffffff;
  }
}
.progressbar .progressbar-number {
  background: #ffffff;
}
/*countdown*/
.countdown .period {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.countdown .number {
  font-family: 'NanumBarunGothic';
}
.countdown1 .number-wrap {
  border-color: #ffffff;
}
.countdown2 .bottom1 {
  background: #ffffff;
}
.countdown2 .bottom2 {
  background: #e6e6e6;
}
/*accordion*/
.accordion .panel-heading {
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
}
.accordion .panel-heading:hover {
  background: #e6e6e6;
}
.accordion .accordion-group .panel:last-child:after {
  background: #e6e6e6;
}
/* news */
.news__card:hover {
  background: #ffffff;
}
/*footer*/
.footer1 .footer-list a:hover {
  color: #ffffff;
}
.shop1 .shop-item-price {
  font-family: 'Open Sans', sans-serif;
}
.shop1 .mbr-gallery-item:hover .item_overlay {
  background: #ffffff;
  opacity: 0.2;
}
.team1 .title1,
.person-info .title1,
.team1 .title2,
.person-info .title2,
.team1 .title3,
.person-info .title3,
.team1 .title4,
.person-info .title4 {
  font-family: 'NanumBarunGothic';
}
.team1 .subtitle1,
.person-info .subtitle1,
.team1 .subtitle2,
.person-info .subtitle2,
.team1 .subtitle3,
.person-info .subtitle3,
.team1 .subtitle4,
.person-info .subtitle4 {
  font-family: 'Open Sans', sans-serif;
}
.team1 .text1,
.person-info .text1,
.team1 .text2,
.person-info .text2,
.team1 .text3,
.person-info .text3,
.team1 .text4,
.person-info .text4 {
  font-family: 'Open Sans', sans-serif;
}
.person-info .subtitle1,
.person-info .subtitle2,
.person-info .subtitle3,
.person-info .subtitle4 {
  color: #ffffff;
}
.animated-bg1 .text {
  font-family: 'Open Sans', sans-serif;
}
.features9 .timeline-panel h4 {
  font-family: 'NanumBarunGothic';
}
.features9 .timeline-panel p {
  font-family: 'Open Sans', sans-serif;
}
.features9 .date-normal p {
  font-family: 'Open Sans', sans-serif;
}
.features9 .date-inverted p {
  font-family: 'Open Sans', sans-serif;
}
/*end colorM*/
#header1-2f .lead {
  color: #93a3a7;
  font-style: italic;
}
#header1-2f .mbr-section-text SPAN {
  color: #ffffff;
}
#call1-p .display-1 {
  font-weight: 700;
}
#call1-p .lead {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}
#testimonials3-q .mbr-section-text {
  font-size: 14px;
}
#content3-r .mbr-section-title,
#content3-r .mbr-section-subtitle {
  text-align: center;
}
#content3-s .mbr-section-title,
#content3-s .mbr-section-subtitle {
  text-align: center;
}
#menu-g .hide-buttons .nav-btn {
  display: none !important;
}
#menu-g .navbar-caption {
  color: #ffffff;
}
#menu-g .navbar-toggler {
  color: #ffffff;
}
#menu-g .close-icon::before,
#menu-g .close-icon::after {
  background-color: #ffffff;
}
#menu-g .link,
#menu-g .dropdown-item {
  color: #ffffff;
}
#menu-g .link {
  font-size: 0.875rem;
}
#menu-g .dropdown-item,
#menu-g .nav-dropdown-sm .link {
  font-size: 0.948rem;
}
#menu-g .link:hover,
#menu-g .link:focus {
  color: #ffffff;
}
#menu-g .dropdown-item:hover::before,
#menu-g .dropdown-item:focus::before {
  background: #ffffff;
}
#menu-g .dropdown-item:hover,
#menu-g .dropdown-item:focus {
  color: #ffffff;
}
#menu-g .link[aria-expanded="true"],
#menu-g .dropdown-menu {
  background: #20638f;
}
#menu-g .nav-dropdown-sm .link:focus,
#menu-g .nav-dropdown-sm .link:hover,
#menu-g .nav-dropdown-sm .dropdown-item:focus,
#menu-g .nav-dropdown-sm .dropdown-item:hover {
  background: #2677ac!important;
}
#menu-g .navbar,
#menu-g .nav-dropdown-sm,
#menu-g .nav-dropdown-sm .link[aria-expanded="true"],
#menu-g .nav-dropdown-sm .dropdown-menu {
  background: #2980b9;
}
#menu-g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-g .bg-color.transparent.opened .link:hover,
#menu-g .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#menu-g .link[aria-expanded="true"],
#menu-g .dropdown-item[aria-expanded="true"] {
  color: #b2cacc!important;
}
#footer2-l .mbr-section-text {
  color: #fff;
}
#call1-10 .display-1 {
  font-weight: 700;
}
#call1-10 .lead {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}
#testimonials3-11 .mbr-section-text {
  font-size: 14px;
}
#content3-12 .mbr-section-title,
#content3-12 .mbr-section-subtitle {
  text-align: center;
}
#content3-14 .mbr-section-title,
#content3-14 .mbr-section-subtitle {
  text-align: center;
}
#table1-15 th {
  color: #9fa3a7;
}
#table1-15 TD {
  font-size: 13px;
}
#menu-18 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-18 .navbar-caption {
  color: #ffffff;
}
#menu-18 .navbar-toggler {
  color: #ffffff;
}
#menu-18 .close-icon::before,
#menu-18 .close-icon::after {
  background-color: #ffffff;
}
#menu-18 .link,
#menu-18 .dropdown-item {
  color: #ffffff;
}
#menu-18 .link {
  font-size: 0.875rem;
}
#menu-18 .dropdown-item,
#menu-18 .nav-dropdown-sm .link {
  font-size: 0.948rem;
}
#menu-18 .link:hover,
#menu-18 .link:focus {
  color: #ffffff;
}
#menu-18 .dropdown-item:hover::before,
#menu-18 .dropdown-item:focus::before {
  background: #ffffff;
}
#menu-18 .dropdown-item:hover,
#menu-18 .dropdown-item:focus {
  color: #ffffff;
}
#menu-18 .link[aria-expanded="true"],
#menu-18 .dropdown-menu {
  background: #20638f;
}
#menu-18 .nav-dropdown-sm .link:focus,
#menu-18 .nav-dropdown-sm .link:hover,
#menu-18 .nav-dropdown-sm .dropdown-item:focus,
#menu-18 .nav-dropdown-sm .dropdown-item:hover {
  background: #2677ac!important;
}
#menu-18 .navbar,
#menu-18 .nav-dropdown-sm,
#menu-18 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-18 .nav-dropdown-sm .dropdown-menu {
  background: #2980b9;
}
#menu-18 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-18 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-18 .bg-color.transparent.opened .link:hover,
#menu-18 .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#menu-18 .link[aria-expanded="true"],
#menu-18 .dropdown-item[aria-expanded="true"] {
  color: #b2cacc!important;
}
#footer2-19 .mbr-section-text {
  color: #fff;
}
#call1-1a .display-1 {
  font-weight: 700;
}
#call1-1a .lead {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}
#menu-1h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1h .navbar-caption {
  color: #ffffff;
}
#menu-1h .navbar-toggler {
  color: #ffffff;
}
#menu-1h .close-icon::before,
#menu-1h .close-icon::after {
  background-color: #ffffff;
}
#menu-1h .link,
#menu-1h .dropdown-item {
  color: #ffffff;
}
#menu-1h .link {
  font-size: 0.875rem;
}
#menu-1h .dropdown-item,
#menu-1h .nav-dropdown-sm .link {
  font-size: 0.948rem;
}
#menu-1h .link:hover,
#menu-1h .link:focus {
  color: #ffffff;
}
#menu-1h .dropdown-item:hover::before,
#menu-1h .dropdown-item:focus::before {
  background: #ffffff;
}
#menu-1h .dropdown-item:hover,
#menu-1h .dropdown-item:focus {
  color: #ffffff;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-menu {
  background: #42c0f2;
}
#menu-1h .nav-dropdown-sm .link:focus,
#menu-1h .nav-dropdown-sm .link:hover,
#menu-1h .nav-dropdown-sm .dropdown-item:focus,
#menu-1h .nav-dropdown-sm .dropdown-item:hover {
  background: #64cbf4!important;
}
#menu-1h .navbar,
#menu-1h .nav-dropdown-sm,
#menu-1h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1h .nav-dropdown-sm .dropdown-menu {
  background: #72d0f5;
}
#menu-1h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1h .bg-color.transparent.opened .link:hover,
#menu-1h .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#footer2-1i .mbr-section-text {
  color: #fff;
}
#content3-2i .mbr-section-title,
#content3-2i .mbr-section-subtitle {
  text-align: center;
}
#content3-2i H3 {
  font-size: 30px;
  text-align: right;
}
#content2-2j P {
  color: #333333;
}
#table1-2m th {
  color: #9fa3a7;
}
#table1-2m .mbr-section-title {
  font-size: 22px;
  text-align: left;
  color: #666666;
}
#footer2-1v .mbr-section-text {
  color: #fff;
}
#menu-1h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1h .navbar-caption {
  color: #ffffff;
}
#menu-1h .navbar-toggler {
  color: #ffffff;
}
#menu-1h .close-icon::before,
#menu-1h .close-icon::after {
  background-color: #ffffff;
}
#menu-1h .link,
#menu-1h .dropdown-item {
  color: #ffffff;
}
#menu-1h .link {
  font-size: 0.875rem;
}
#menu-1h .dropdown-item,
#menu-1h .nav-dropdown-sm .link {
  font-size: 0.948rem;
}
#menu-1h .link:hover,
#menu-1h .link:focus {
  color: #ffffff;
}
#menu-1h .dropdown-item:hover::before,
#menu-1h .dropdown-item:focus::before {
  background: #ffffff;
}
#menu-1h .dropdown-item:hover,
#menu-1h .dropdown-item:focus {
  color: #ffffff;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-menu {
  background: #42c0f2;
}
#menu-1h .nav-dropdown-sm .link:focus,
#menu-1h .nav-dropdown-sm .link:hover,
#menu-1h .nav-dropdown-sm .dropdown-item:focus,
#menu-1h .nav-dropdown-sm .dropdown-item:hover {
  background: #64cbf4!important;
}
#menu-1h .navbar,
#menu-1h .nav-dropdown-sm,
#menu-1h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1h .nav-dropdown-sm .dropdown-menu {
  background: #72d0f5;
}
#menu-1h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1h .bg-color.transparent.opened .link:hover,
#menu-1h .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#call1-2v .display-1 {
  font-weight: 700;
}
#call1-2v .lead {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}
#call1-2v .mbr-section-title {
  font-size: 36px;
}
#form1-2u .mbr-section-subtitle {
  text-transform: uppercase;
}
#form1-2u .form-control-label {
  color: undefined;
}
#footer2-2r .mbr-section-text {
  color: #fff;
}
#menu-2s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2s .navbar-caption {
  color: #ffffff;
}
#menu-2s .navbar-toggler {
  color: #ffffff;
}
#menu-2s .close-icon::before,
#menu-2s .close-icon::after {
  background-color: #ffffff;
}
#menu-2s .link,
#menu-2s .dropdown-item {
  color: #ffffff;
}
#menu-2s .link {
  font-size: 0.875rem;
}
#menu-2s .dropdown-item,
#menu-2s .nav-dropdown-sm .link {
  font-size: 0.948rem;
}
#menu-2s .link:hover,
#menu-2s .link:focus {
  color: #ffffff;
}
#menu-2s .dropdown-item:hover::before,
#menu-2s .dropdown-item:focus::before {
  background: #ffffff;
}
#menu-2s .dropdown-item:hover,
#menu-2s .dropdown-item:focus {
  color: #ffffff;
}
#menu-2s .link[aria-expanded="true"],
#menu-2s .dropdown-menu {
  background: #42c0f2;
}
#menu-2s .nav-dropdown-sm .link:focus,
#menu-2s .nav-dropdown-sm .link:hover,
#menu-2s .nav-dropdown-sm .dropdown-item:focus,
#menu-2s .nav-dropdown-sm .dropdown-item:hover {
  background: #64cbf4!important;
}
#menu-2s .navbar,
#menu-2s .nav-dropdown-sm,
#menu-2s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2s .nav-dropdown-sm .dropdown-menu {
  background: #72d0f5;
}
#menu-2s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2s .bg-color.transparent.opened .link:hover,
#menu-2s .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#menu-2s .link[aria-expanded="true"],
#menu-2s .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
